.game {
    background-color: var(--color-accent);
    transition: background-color 0.4s ease;
    position: relative;
    width: 17vw;
    height: 30vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}

.game:hover:not(:has(button:hover)) {
    background-color: var(--color-accent2);
}

.game img {
    max-width: 10vw;
    max-height: 30vh;
    margin-bottom: 1vh;
}

.game h2 {
    margin-top: 0;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.game button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3vw;
    height: 3vw;
    background-color: var(--color-minor);
    color: var(--color-text-light);
    border: 6px solid var(--color-minor);
    transition: background-color 0.4s ease, border-color 0.4s ease;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-overflow: clip;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game button:hover {
    border: 6px solid var(--color-button-hover);
    background-color: var(--color-button-hover);
}

.gamesDiv, .favGames {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17vw, 1fr));
    gap: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: xxx-large;
}