#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7vh;
    height: 93vh;
}

#login-form input {
    background-color: var(--color-minor);
    border-style: solid;
    border: 6px solid var(--color-accent);
    border-radius: 7px;
    width: 27vw;
    height: 8vh;
    margin: 1vh;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: var(--color-text-light);
}

#login-form input::placeholder {
    color: var(--color-text-dark);
    transition: color 0.3s ease;
}

#login-form input:hover::placeholder {
    color: var(--color-text-light);
}

#login-form input::-moz-placeholder {
    color: var(--color-text-dark);
    opacity: 1;
    transition: color 0.3s ease;
}

#login-form input:hover::-moz-placeholder {
    color: var(--color-text-light);
}

#login-form input:focus::placeholder {
    color: var(--color-text-light);
}

#login-form input:focus::-moz-placeholder {
    color: var(--color-text-light);
}

#login-form h1 {
    font-size: 8vh;
    margin-bottom: 0vh;
}

#login-form h2 {
    font-size: large;
    color: var(--color-border);
    transition: color 0.3s ease;
    margin-bottom: 6vh;
}

#login-form a {
    color: var(--color-accent);
    transition: color 0.3s ease;
    cursor:pointer;
    text-decoration: none;
}

#login-form h2:hover {
    color: var(--color-text-light);
}

#login-form h2:hover a {
    color: var(--color-button);
    transition: color 0.3s ease;
}

#login-form h2 a:hover {
    text-decoration: underline;
    color: var(--color-button-hover);
}
#forgot:hover {
    text-decoration: underline;
    color: var(--color-button-hover);
}
