#status {
    font-weight: bold;
    color: var(--color-text-light);
    user-select: none;
    font-size: 1.5vw;
    text-align: center;
    padding-bottom: 5%;
}

.menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: auto;
    pointer-events: none;
}

.titlecontainer {
    margin-bottom: 2vh;
}

.titlecontainer h2 {
    position: absolute;
    top: 13vh;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-button);
    font-size: 2vw;
    white-space: nowrap;
}

#username {
    color: var(--color-text-light);
    user-select: none;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    white-space: nowrap;
}

#pfp {
    max-width: 80%;
    max-height: 80%;
    background-color: var(--color-text-light);
    border-radius: 50%;
    user-select: none;
    margin-bottom: 1.25rem;
    border: 0.25rem solid var(--color-border);
}

#profile {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 10%;
    background-color: var(--color-accent);
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

body, html {
    overflow-x: hidden;
}

#cloak {
    position: relative;
    bottom: 0;
    left: 2vw;
    padding: 0;
    margin: 0;
}