.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.infobox {
    border-radius: 7px;
    background-color: var(--color-accent);
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 4px 10px rgba(0, 0, 0, 0.2);
}

.infobox-header {
    color: var(--color-text-light);
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.infobox-body {
    color: var(--color-text-light);
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

.infobox-body-link {
    color: var(--color-button);
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
}

.infobox-body-link:hover {
    color: var(--color-button-hover);
}

.report-box {
    resize: none;
    background-color: var(--color-accent);
    border: none;
    color: var(--color-text-light);
    width: 100%;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 4px 10px rgba(0, 0, 0, 0.2);
}

#support-form {
    width: 50%;
}

#submit-button {
    width: 100%;
    height: 5%;
    cursor: pointer;
    background-color: var(--color-button);
    color: var(--color-text-light);
    border-color: var(--color-button-hover);
    border-radius: 7px;
    font-size: x-large;
    font-weight: bolder;
    box-shadow: 4px 10px rgba(0, 0, 0, 0.2);
}

#submit-button:hover {
    background-color: var(--color-button-hover);
    border-color: var(--color-button);
}